;; shadow-cljs configuration
{:deps true
 :dev-http {8000 "public"}
 :builds
 {:app
  {:target :esm
   :output-dir "public/js"
   :modules
   {:main {:js-options {:js-provider :import}
           :compiler-options {:output-feature-set :es2021}
           :optimizations :advanced
           :force-imports #{"@tuprolog/2p-solve-classic"}
           :entries [l4-rule-engine.main]
           :exports {test l4-rule-engine.main/test!
                     step l4-rule-engine.main/test!}}}}}}
